@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  min-width: 1280px;
  overflow-x: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Noto Sans SC", sans-serif;
}
